// Abstracts
@import "abstracts/variables";

// Vendors
@import "vendors/bootstrap";
@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

//Base
@import "base/typography";

//Layout
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

//Components
@import "components/recipe-slide-card";
@import "components/carousel-button";
@import "components/button";

// Pages

// Themes
@import "themes/theme";
