header {
    .page-header-top {
        padding: 40px 40px 40px 0;
        img {
            max-width: 300px;
        }
    }
    a.nav-link {
        color: rgb(248, 237, 237);

        &:hover,
        &:focus {
            color: rgb(245, 245, 245);
        }
    }
}
