header {
    nav {
        background-color: $secondary-color;

        a,
        a:hover,
        a:active {
            font-size: 1.4em;
            font-weight: 500;
            color: #393e4f;
        }
    }
}
