header {
    nav {
        background-color: $secondary-color;

        a,
        a:hover,
        a:active {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 600;
            color: #393e4f;
        }
    }
}
